 <h1> TACH2 </h1>

this notebook contains the following: 
    
    Graph Update
           
    View creation

In [2]:
import rdflib
from rdflib.extras.external_graph_libs import rdflib_to_networkx_multidigraph
import networkx as nx
import matplotlib.pyplot as plt
import re
from random import sample
import graphdb
import pandas as pd
import numpy as np

from SPARQLWrapper import SPARQLWrapper, JSON

from pyvis.network import Network
import random

import requests

import urllib.request

import urllib3

import urllib.parse

import json 

from rdflib import Graph

In [3]:
sparql = SPARQLWrapper(
    "http://LAPTOP-CS19OKIS:7200/repositories/tach1"
)
sparql.setReturnFormat(JSON)

# UPDATING GRAPH

# Single update query

In [6]:
req =["INSERT { <http://krono.act.uji.es/schemas/slodbi#Ain> <http://www.w3.org/2002/07/owl#sameAs> <http://krono.act.uji.es/schemas/slodbi#Ain> } WHERE {}","DELETE { <http://krono.act.uji.es/schemas/slodbi#Ain> <http://www.w3.org/2002/07/owl#sameAs> <http://krono.act.uji.es/schemas/slodbi#Ain> } WHERE {}"]
#req[0] insert req[1] delete

zerone=[1,0]
toggle=0

In [7]:

print("request : "+req[toggle])
url = 'http://localhost:7200/repositories/tach1/statements?update='+urllib.parse.quote_plus(req[toggle])
toggle=zerone[toggle]
    
      
url=url.replace('+','%20')
print("\nurl : "+url)

x = requests.post(url)


print("\nresponse= "+x.text)
print("status= "+str(x.status_code))

request : INSERT { <http://krono.act.uji.es/schemas/slodbi#Ain> <http://www.w3.org/2002/07/owl#sameAs> <http://krono.act.uji.es/schemas/slodbi#Ain> } WHERE {}

url : http://localhost:7200/repositories/tach1/statements?update=INSERT%20%7B%20%3Chttp%3A%2F%2Fkrono.act.uji.es%2Fschemas%2Fslodbi%23Ain%3E%20%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23sameAs%3E%20%3Chttp%3A%2F%2Fkrono.act.uji.es%2Fschemas%2Fslodbi%23Ain%3E%20%7D%20WHERE%20%7B%7D

response=
status= 204

In [5]:
_urls_examples="""
DELETE URL FROM WEBAPI
http://localhost:7200/repositories/tach1/statements?update=DELETE%20%7B%20%3Chttp%3A%2F%2Fkrono.act.uji.es%2Fschemas%2Fslodbi%23Ain%3E%20%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23sameAs%3E%20%3Chttp%3A%2F%2Fkrono.act.uji.es%2Fschemas%2Fslodbi%23Ain%3E%20%7D%20WHERE%20%7B%7D

INSERT URL FROM WEBAPI 
http://localhost:7200/repositories/tach1/statements?update=INSERT%20%7B%20%3Chttp%3A%2F%2Fkrono.act.uji.es%2Fschemas%2Fslodbi%23Ain%3E%20%3Chttp%3A%2F%2Fwww.w3.org%2F2002%2F07%2Fowl%23sameAs%3E%20%3Chttp%3A%2F%2Fkrono.act.uji.es%2Fschemas%2Fslodbi%23Ain%3E%20%7D%20WHERE%20%7B%7D

"""

# Entire doc update

GraphDB POST adress http://localhost:7200/repositories/tach4/statements

adress to test the return of the post http://httpbin.org/post

# this one works

In [14]:
import requests
with open('test.ttl', 'rb') as f:
    data = f.read()
res = requests.post(url='http://localhost:7200/repositories/tach4/statements',
                    data=data,
                    headers={'Content-Type': 'text/plain'})

print(res.text)
print(res.status_code)

204

In [15]:
print(data)
#only accepts data with the nt format

b'<http://krono.act.uji.es/schemas/slodbi#000010info> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://krono.act.uji.es/schemas/slodbi#User_Account> .\r\n<http://krono.act.uji.es/schemas/slodbi#000010info> <http://www.w3.org/2000/01/rdf-schema#label> "010.bio" .\r\n<http://krono.act.uji.es/schemas/slodbi#000010info> <http://krono.act.uji.es/schemas/slodbi#followers_count> "240"^^<http://www.w3.org/2001/XMLSchema#integer> .\r\n<http://krono.act.uji.es/schemas/slodbi#000010info> <http://krono.act.uji.es/schemas/slodbi#follows> <http://krono.act.uji.es/schemas/slodbi#territorio_es> .\r\n<http://krono.act.uji.es/schemas/slodbi#000010info> <http://krono.act.uji.es/schemas/slodbi#friends_count> "3032"^^<http://www.w3.org/2001/XMLSchema#integer> .\r\n<http://krono.act.uji.es/schemas/slodbi#000010info> <http://krono.act.uji.es/schemas/slodbi#user_id> "711329345319649280" .\r\n<http://krono.act.uji.es/schemas/slodbi#000010info> <http://krono.act.uji.es/schemas/slodbi#user_location> "Barcelona, Espa\\u00F1a" .\r\n<http://krono.act.uji.es/schemas/slodbi#000010info> <http://krono.act.uji.es/schemas/slodbi#user_url> "https://twitter.com/000010info" .\r\n<http://krono.act.uji.es/schemas/slodbi#000010info> <http://krono.act.uji.es/schemas/slodbi#user_verified> "false"^^<http://www.w3.org/2001/XMLSchema#boolean> .\r\n<http://krono.act.uji.es/schemas/slodbi#000010info> <http://www.w3.org/2000/01/rdf-schema#comment> "NaN"^^<http://www.w3.org/2001/XMLSchema#double> .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://www.w3.org/1999/02/22-rdf-syntax-ns#type> <http://krono.act.uji.es/schemas/slodbi#User_Account> .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://www.w3.org/2000/01/rdf-schema#label> "javier lorente" .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://krono.act.uji.es/schemas/slodbi#followers_count> "15"^^<http://www.w3.org/2001/XMLSchema#integer> .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://krono.act.uji.es/schemas/slodbi#follows> <http://krono.act.uji.es/schemas/slodbi#SEGITTUR> .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://krono.act.uji.es/schemas/slodbi#friends_count> "106"^^<http://www.w3.org/2001/XMLSchema#integer> .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://krono.act.uji.es/schemas/slodbi#user_id> "632872590" .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://krono.act.uji.es/schemas/slodbi#user_location> "Madrid, Comunidad de Madrid" .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://krono.act.uji.es/schemas/slodbi#user_url> "https://twitter.com/000javi000" .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://krono.act.uji.es/schemas/slodbi#user_verified> "false"^^<http://www.w3.org/2001/XMLSchema#boolean> .\r\n<http://krono.act.uji.es/schemas/slodbi#000javi000> <http://www.w3.org/2000/01/rdf-schema#comment> "Service Through Frienship" .'

In [16]:
graph = Graph()
graph.parse('tbl2.ttl', format='turtle')
newdata=graph.serialize(format='nt')

In [17]:
res = requests.post(url='http://localhost:7200/repositories/tach4/statements',
                    data=newdata.encode('utf-8'),
                    headers={'Content-Type': 'text/plain'})

print(res.text)
print(res.status_code)

204

# VIEW CREATION

In [8]:
apiref=reference="""{
  "name": "testeuuuu",
  "query": "PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n\n# Selects two variables to use as columns\nSELECT ?id ?label {\n    ?id rdfs:label ?label\n    # The following placeholder must be present in the query\n    #!filter\n}",
  "columns": [
    {
      "column_name": "id",
      "column_type": "iri",
      "nullable": true
    },
    {
      "column_name": "label",
      "column_type": "string",
      "nullable": true
    }
  ]
}"""

<h3> line by line query generator </h3>

In [9]:
#first body generator, using a list of variables and query line by line in a list

def bodygenerator(viewName,selectVariables,queryLines):
    
    query="PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n\n# Selects variables to use as columns\nSELECT "
    
    for var in selectVariables:
        query=query+"?"+var+" "
    query=query+"{\n"
    
    for line in queryLines:
        query=query+"    "+line+".\n"
    query=query+"    # The following placeholder must be present in the query\n    #!filter\n}" 
    print(query+"\n")
        
    columns=[]
    for v in selectVariables:
        columns.append({
          "column_name": v,
          "column_type": "string",
          "nullable": True
        })
    
    tosend={
      "name": viewName,
      "query": query,
      "columns": columns,
    }

    return tosend

In [10]:
newViewBody=bodygenerator(viewName="newnewinco",selectVariables=["o","p","s"],queryLines=["?o ?p ?s"])

print("body i sent : \n")
print(newViewBody)
r = requests.post('http://localhost:7200/rest/sql-views/tables/',json=newViewBody)

print("\nresponse i get : \n")
print(r.status_code)
print(r.text)

#create view in active repository

PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>

# Selects variables to use as columns
SELECT ?o ?p ?s {
    ?o ?p ?s.
    # The following placeholder must be present in the query
    #!filter
}

body i sent :

{'name': 'newnewinco', 'query': 'PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n\n# Selects variables to use as columns\nSELECT ?o ?p ?s {\n    ?o ?p ?s.\n    # The following placeholder must be present in the query\n    #!filter\n}', 'columns': [{'column_name': 'o', 'column_type': 'string', 'nullable': True}, {'column_name': 'p', 'column_type': 'string', 'nullable': True}, {'column_name': 's', 'column_type': 'string', 'nullable': True}]}

response i get :

201

In [22]:
querr="PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>\n\n# Selects two variables to use as columns\nSELECT ?id ?label {\n    ?id rdfs:label ?label\n    # The following placeholder must be present in the query\n    #!filter\n}"
re.findall('\?(.*?)\s',re.compile("SELECT.*\?(.*)\s").search(querr).group())

['id', 'label']

In [11]:
#second body generator, using the query string, more practical 


def bodygenerator2(viewName,query):
    
    selectVariables=re.findall('\?(.*?)\s',re.compile("SELECT.*\?(.*)\s").search(query).group())
    #findall( "?varI" ,  in the "SELECT ?v1 ?v2 ..." section of the query string  )
    
    columns=[]
    for v in selectVariables:
        columns.append({
          "column_name": v,
          "column_type": "string",
          "nullable": True
        })
    
    tosend={
      "name": viewName,
      "query": query,
      "columns": columns,
    }

    return tosend

newViewBody=bodygenerator2(viewName="anothertest",query="SELECT ?id ?label {\n    ?id rdfs:label ?label\n    #!filter\n}")

print("body i sent : \n")
print(newViewBody)
repoheader = { "X-GraphDB-Repository" : "tach3" }
print("header i sent: \n")
print(repoheader)
r = requests.post('http://localhost:7200/rest/sql-views/tables/',json=newViewBody,headers=repoheader)



print("\nresponse i get : \n")
print("status code : "+str(r.status_code))
print("status text : "+r.text)

body i sent :

{'name': 'anothertest', 'query': 'SELECT ?id ?label {\n    ?id rdfs:label ?label\n    #!filter\n}', 'columns': [{'column_name': 'id', 'column_type': 'string', 'nullable': True}, {'column_name': 'label', 'column_type': 'string', 'nullable': True}]}
header i sent:

{'X-GraphDB-Repository': 'tach3'}

response i get :

status code : 409
status text : "A SQL view with name: 'anothertest' already exists."

In [14]:
def bodygenerator3(viewName,query):
      
    varSectionString=re.compile("SELECT(.*?){").search(query).group(1)
    #gets us the string with all selected variables 
    selectVariables=re.findall('\?([^\s]*)',varSectionString)
    #gets us a list of the variable names
    # ==>findall "?varI" in the "SELECT ?v1 ?v2 ..." section of the query string  
    
    endOfQuery=re.compile("\s*(\}.*?)$").search(query).group()
    #find the end of query " }..." string 
    
    query=query.replace(endOfQuery,"\n #!filter \n"+endOfQuery)
    #add "#!filter" before

    
    print(selectVariables)

    
    columns=[]
    for v in selectVariables:
        columns.append({
          "column_name": v,
          "column_type": "string",
          "nullable": True
        })
    
    tosend={
      "name": viewName,
      "query": query,
      "columns": columns,
    }

    return tosend

newViewBody=bodygenerator3(viewName="testInsertedFilter",query="SELECT ?id ?label {    ?id rdfs:label ?label}")

print("body i sent : \n")
print(newViewBody)

['id', 'label']
body i sent :

{'name': 'testInsertedFilter', 'query': 'SELECT ?id ?label {    ?id rdfs:label ?label\n #!filter \n}', 'columns': [{'column_name': 'id', 'column_type': 'string', 'nullable': True}, {'column_name': 'label', 'column_type': 'string', 'nullable': True}]}

In [15]:
print("body i sent : \n")
print(newViewBody)
repoheader = { "X-GraphDB-Repository" : "tach3" }
print("header i sent: \n")
print(repoheader)
r = requests.post('http://localhost:7200/rest/sql-views/tables/',json=newViewBody,headers=repoheader)



print("\nresponse i get : \n")
print("status code : "+str(r.status_code))
print("status text : "+r.text)

body i sent :

{'name': 'testInsertedFilter', 'query': 'SELECT ?id ?label {    ?id rdfs:label ?label\n #!filter \n}', 'columns': [{'column_name': 'id', 'column_type': 'string', 'nullable': True}, {'column_name': 'label', 'column_type': 'string', 'nullable': True}]}
header i sent:

{'X-GraphDB-Repository': 'tach3'}

response i get :

status code : 409
status text : "A SQL view with name: 'testInsertedFilter' already exists."